{% extends 'components/base.html' %}
{% load static %}

<div class="main d-flex align-items-center">
    {% block content %}
    <div class="container d-flex justify-content-center">
        <form class="col-lg-6" method="POST" action="{% url 'registration:registration' %}">
            {% csrf_token %}
            <div class="p-5 justify-content-center">
                <h3 class="fw-normal mb-5 text-center reg-text">Register</h3>
                <div class="row">
                    <div class="col-md-12 mb-4 pb-2">
                        <div class="form-outline justify-content-center">
                            {{ form }}
                        </div>

                    </div>

                </div>

            </div>

            <div class="reg-btn d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <button type="submit" class="btn btn-lg w-50">
                    Register
                </button>
            </div>
            <p class="d-flex justify-content-center mx-5 mb-lg-4">Have you already been registered?
                <span class="mx-5"><a href="{% url 'registration:loginPage' %}" class="login-link">Log In</a></span>
            </p>
        </form>
    </div>
    {% endblock %}
</div>